<!doctype html>
<html lang="en">
<head>
    <title>Websocket ChatRoom</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
<h4 class="mb-3" th:text="|로그인: ${member.name}|">로그인 사용자 이름</h4>
<div class="container" id="app">
    <div>
        <h2>[[${roomName}]]</h2>
    </div>
    <div class="input-group">
        <input type="text" class="form-control" v-model="message" onkeydown="handleKeyPress(event)">
        <div class="input-group-append">
            <button class="btn btn-primary" type="button" onclick="sendMessage">보내기</button>
        </div>
    </div>
    <ul class="list-group">
        <li class="list-group-item" v-for="message in messages">
            {{message.sender}} - {{message.message}}</a>
        </li>
    </ul>
    <div></div>
</div>
<!-- JavaScript -->
<script src="/webjars/axios/0.17.1/dist/axios.min.js"></script>
<script src="/webjars/sockjs-client/1.1.2/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/2.3.3-1/stomp.min.js"></script>
<script>
    var sock = new SockJS("/ws-stomp");
    var ws = Stomp.over(sock);
    var reconnect = 0;

    var chat = {
        roomId: '',
        room: {},
        sender: '',
        message: '',
        messages: []
    };

    function created() {
        chat.roomId = localStorage.getItem('wschat.roomId');
        chat.sender = localStorage.getItem('wschat.sender');
        findRoom();
    }

    function findRoom() {
        // axios 요청
        axios.get('/chat/room/' + chat.roomId).then(function(response) {
            chat.room = response.data;
        });
    }

    function sendMessage() {
        // ws.send로 메시지 전송
        ws.send("/pub/chat/message", {}, JSON.stringify({ type: 'TALK', roomId: chat.roomId, sender: chat.sender, message: chat.message }));
        chat.message = '';
    }

    function recvMessage(recv) {
        chat.messages.unshift({ "type": recv.type, "sender": recv.type == 'ENTER' ? '[알림]' : recv.sender, "message": recv.message });
    }

    function connect() {
        // pub/sub event
        ws.connect({}, function(frame) {
            ws.subscribe("/sub/chat/room/"+chat.roomId, function(message) {
                var recv = JSON.parse(message.body);
                recvMessage(recv);
            });
            ws.send("/pub/chat/message", {}, JSON.stringify({type:'ENTER', roomId:chat.roomId, sender:chat.sender}));
        }, function(error) {
            if(reconnect++ <= 5) {
                setTimeout(function() {
                    console.log("connection reconnect");
                    sock = new SockJS("/ws-stomp");
                    ws = Stomp.over(sock);
                    connect();
                },10*1000);
            }
        });
    }
    created();
    connect();

    function handleKeyPress(event) {
        if (event.key === "Enter") {
            // Enter 키가 눌렸을 때 실행할 코드를 여기에 추가
            sendMessage();
        }
    }
</script>
</body>
</html>