.App {
  text-align: center;
}

.Header {
  padding: 20px;
}

.menu {
  margin:50px;
  color: black;
  text-decoration-line: none;
  font-size: 20pt;
  font-weight: bold;
}

.Menu_Line{
  width: 1500px;
  margin-left: 300px;
  color: #287D0A;
}

.Body_Top_Box{
  width: 1400px;
  height: 350px;
  margin-top: 20px;
  margin-left: 300px;
  background-color:#F6FAF1 ;
  text-align: left;
  font-size: 20pt;
  padding-left: 100px;
}