<!DOCTYPE HTML>
<html>
<body>
<div class="container pt-4 pb-4">
    <form action="/pay" method="post">
    <table class="table table-striped">
        <link rel="stylesheet" href="./css/default.css">
        <thead>
        <tr>
            <th>포인트</th>
            <th>선택</th>
            <th>가격</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>1000</th>
            <td>
                <label class="form-check-custom success" for="item1">
                    <input type="radio" name="1000" id = "item1">
                    <span></span>
                </label>
            </td>
            <td>1100원</td>
        </tr>
        <tr>
            <th>5000</th>
            <td>
                <label class="form-check-custom success" for="item2">
                    <input type="radio" name="5000" id = "item2">
                    <span></span>
                </label>
            </td>
            <td>5500원</td>
        </tr>
        <tr>
            <th>10000</th>
            <td>
                <label class="form-check-custom success" for="item3">
                    <input type="radio" name="10000" id = "item3">
                    <span></span>
                </label>
            </td>
            <td>11000원</td>
        </tr>
        <tr>
            <th>50000</th>
            <td>
                <label class="form-check-custom success" for="item4">
                    <input type="radio" name="55000" id = "item4" checked>
                    <span></span>
                </label>
            </td>
            <td>55000원</td>
        </tr>
        </tbody>
    </table>
        <button type="submit">Submit</button>
    </form>
</div>
</body>
</html>