<!DOCTYPE html>
<html lang="en">
<head>
    <!-- PortOne SDK -->
    <script src="https://cdn.iamport.kr/v1/iamport.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
<!--    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>-->
    <script>
        /**
         * 주문 번호(merchant_uid) 생성 유의 사항
         * 1. 주문번호는 결제창 요청 시 항상 고유 값으로 채번 되어야 합니다.
         * 2. 결제 완료 이후 결제 위변조 대사 작업시 주문번호를 이용하여 검증이 필요하므로,
         *    주문번호는 가맹점 서버에서 고유하게(unique)채번하여 DB 상에 저장해주세요
         */

        const priceAmount = $('#totalPrice').val();
        const buyerMemberEmail = $('#memberEmail').val();
        const buyerMemberName = $('#memberName').val();
        // const form = document.getElementById("payment");

        console.log(priceAmount);
        console.log(buyerMemberName);
        console.log(buyerMemberEmail);
        const IMP = window.IMP;
        IMP.init('imp38636483');


        function requestPay() {
            // IMP.request_pay(param, callback) 결제창 호출
            IMP.request_pay({ // param
                pg: "kakaopay.TC0ONETIME",
                pay_method: "card",
                merchant_uid: 'order_' + new Date().getTime(),
                name: "당근 10kg",
                amount: priceAmount,
                buyer_email: buyerMemberEmail,
                buyer_name: buyerMemberName,

            }, function (rsp) { // callback

                /** 결제 검증 **/
                $.ajax({
                    type: 'POST',
                    url: '/verifyIamport/'+rsp.imp_uid,
                    beforeSend: function(xhr){
                        xhr.setRequestHeader(header, token);
                    }
                }).done(function(result){
                    // rsp.paid_amount와 result.response.amount(서버 검증) 비교 후 로직 실행
                    if(rsp.paid_amount === result.response.amount){
                        alert("결제가 완료되었습니다.");
                        $.ajax({
                            type:'POST',
                            url:'/lecture/payment',
                            beforeSend: function(xhr){
                                xhr.setRequestHeader(header, token);
                            }
                        }).done(function() {
                            window.location.reload();
                        }).fail(function(error){
                            alert(JSON.stringify(error));
                        })
                    } else{
                        alert("결제에 실패했습니다."+"에러코드 : "+rsp.error_code+"에러 메시지 : "+rsp.error_message);

                    }
                })
            })
        }
    </script>
    <meta charset="UTF-8" />
    <title>Sample Payment</title>
</head>
<body>
<button onclick="requestPay()">결제하기</button>

<!-- 결제하기 버튼 생성 -->
</body>
</html>