<!DOCTYPE html>
<html lang="en">
<head>
    <!-- PortOne SDK -->
    <script src="https://cdn.iamport.kr/v1/iamport.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>
        const userCode = "imp38636483";

        var today = new Date();
        var hours = today.getHours(); // 시
        var minutes = today.getMinutes();  // 분
        var seconds = today.getSeconds();  // 초
        var milliseconds = today.getMilliseconds();
        var makeMerchantUid = "order_id_" + hours +  minutes + seconds + milliseconds;
        var Testamount = 0;
        var userName =  "[[${name}]]"
        var itemName = ""
        var userPhone = [[${phoneNumber}]]
        var userEmail = "[[${email}]]"

        function makeDate() {
            let today = new Date();
            let hours = today.getHours(); // 시
            let minutes = today.getMinutes();  // 분
            let seconds = today.getSeconds();  // 초
            let milliseconds = today.getMilliseconds();
            return today;
        }

        function saveMerchantUid(){
            $.ajax({
                url: "/saveMercantUid",
                data: {"merchantUid": makeMerchantUid},
                type: "post"
            });
        }
        function callPayment() {
            const list
                = document.getElementsByName('radio-23');
            list.forEach((res) => {
                if(res.checked)  {
                    Testamount = res.value;
                    console.log("res.value:" + typeof res.value)
                    switch (res.value) {
                        case "1100":
                            itemName = "1000포인트";
                            break;
                        case "5500":
                            itemName = "5000포인트";
                            break;
                        case "11000":
                            itemName = "10000포인트";
                            break;
                        case "55000":
                            itemName = "50000포인트"
                            break;
                    }
                }
            })
        }

        console.log("itemname: " + itemName)
        async function requestPay() {
            await callPayment()
            //saveMerchantUid() //DB에 merchantUid 등록 - 안해도 지장 없음
            await axios({
                url: "/payments/prepare",
                method: "post",
                headers: {"Content-Type": "application/json"},
                data: {
                    merchant_uid: makeMerchantUid, // 가맹점 주문번호
                    amount: Testamount, // 결제 예정금액
                }
            }).then(async response => {
                await axios({
                    url: "/payments/prepare/" + makeMerchantUid,
                    method: "get",
                    headers: {"Content-Type": "application/json"}
                }).then(response => {
                    if (response.data.amount != Testamount) {
                        // alert("결제 정보가 올바르지 않습니다...다시 시도해주세요")
                        window.location.href = 'http://localhost:8080/pay';
                    }
                })
            }).catch(err=> {
                alert("결제 서버가 불안정합니다. 나중에 시도하세요")
            })
            IMP.init(userCode);
            IMP.request_pay({
                pg: 'kakaopay.TC0ONETIME',
                pay_method: 'card',
                merchant_uid: makeMerchantUid, //상점에서 생성한 고유 주문번호
                name: itemName,
                amount: Testamount,
                buyer_email: userEmail,
                buyer_name: userName,
                buyer_tel: userPhone,
            }, function (rsp) {
                console.log(rsp)
                var imp_uid = rsp.imp_uid
                // 결제 사후검증
                $.ajax({
                    type: "POST",
                    url: "/verifyIamport/" + rsp.imp_uid
                }).done(function (response) {
                    console.log(response)
                    // 위의 rsp.paid_amount 와 data.response.amount를 비교한후 로직 실행 (import 서버검증)
                    if (rsp.paid_amount === response.amount) {
                        $.ajax({
                            type: "POST",
                            url: "/paySuccess/" + imp_uid
                        }).then(res=> {
                            window.location.href = "http://localhost:8080/payments/paymentDetail?payment="+res;
                        })
                    } else {
                        alert("결제 실패");
                    }
                })
            });
        }
    </script>
    <meta charset="UTF-8">
    <title>Sample Payment</title>
</head>
<body>
<h4 class="mb-3" th:text="|로그인: ${member.name}|">로그인 사용자 이름</h4>
<div>
    <table class="table table-striped">
        <!--link rel="stylesheet" href="./css/default.css"=-->
        <thead>
        <tr>
            <th>포인트</th>
            <th> </th>
            <th>가격</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>1000</th>
            <td>
                <label class="form-check-custom success" for="item1">
                    <input type="radio" name="radio-23" id = "item1" value="1100">
                    <span></span>
                </label>
            </td>
            <td>1100원</td>
        </tr>
        <tr>
            <th>5000</th>
            <td>
                <label class="form-check-custom success" for="item2">
                    <input type="radio" name="radio-23" id = "item2" value="5500">
                    <span></span>
                </label>
            </td>
            <td>5500원</td>
        </tr>
        <tr>
            <th>10000</th>
            <td>
                <label class="form-check-custom success" for="item3">
                    <input type="radio" name="radio-23" id = "item3" value="11000">
                    <span></span>
                </label>
            </td>
            <td>11000원</td>
        </tr>
        <tr>
            <th>50000</th>
            <td>
                <label class="form-check-custom success" for="item4">
                    <input type="radio" name="radio-23" id = "item4" value="55000" checked>
                    <span></span>
                </label>
            </td>
            <td>55000원</td>
        </tr>
        </tbody>
    </table>
    <div id='result'></div>
</div>
<button onclick="requestPay()">결제하기</button>
</body>
</html>