html,
    body{
        width:100%;
        height:100%;
        margin:0px;
        background-color: white;
    }

#roomListBox{
    position:absolute;
    left: 5%;
    top:5%;
    width:90%;
    height: 90%;
    background-color: rgba(232, 234, 246, 1);
    border-radius: 3%;
}

#chatlist{
    position:absolute;
    background-color: white;
    border:1px solid white;
    border-radius: 2%;
    width:25%;
    height: 90%;
    left:3%;
    top:5%;
}

#chatlistname{
    position: absolute;
    font-size: 200%;
    left: 3%;
    top: 2%;
}

#roomboxlist{
    position: absolute;
    top: 10%;
    width:107%;
    right:-4%;
}

#roombox{
    position: relative;;
    background-color:white;
    width:105%;
    height: 15%;
    right:9%;
    border:1px solid rgba(57, 73, 171, 0.2);
}

#roombox:hover{
    background-color: rgba(57, 73, 171, 0.1);
}