.horizontalWrapper{
    position: relative;
    width:100%;
    left:20%;
}

.c_table {
    border-collapse: collapse;
    width: 500px;
    background-color: white;
}

.c_thead{
    box-shadow: 4px 4px 10px rgba(0,0,0,0.1);
}

/* 테이블 행 */
.c_td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.c_th {
    padding: 8px;
    text-align: left;
    text-align: center;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    color: #000;
}

html, body{
    width:100vw;
    height:100vh;
    margin: 0px;
}

#manageDiv1{
    position: relative;
    width:120%;
    height:27%;
}#manageDiv2{
    position: relative;
    width:120%;
    height:0%;
}
#manageTable1{
    position: absolute;
    top: 3%;
    font-size: 23px;
}
#manageTable2{
    position: absolute;
    top: 3%;
    font-size: 23px;
}
#manageHead1 {
    position:relative;
    border-bottom: 1px solid darkgreen;
    border-top: 1px solid darkgreen;
}#manageHead2 {
    position:relative;
     border-bottom: 1px solid darkgreen;
     border-top: 1px solid darkgreen;
}