#MHgohome{
    position: absolute;
    left:10%;
    top:5%;
    width:6%;
    height: 10%;
    background-image: url('../로고.png');
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
}
.ManagerHeaderDiv{
    width:110%;
}
.me-auto{
    font-size: 25px;
}