<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>관리자님</h1>
<a href="/userDelete">일반회원삭제</a>
<a href="/userUpdate">회원수정</a>
<a href="/List1">일반회원 목록</a>
<a href="/Lsit2">상담사 및 멘토 목록</a>
<a href="/AdviceRequestLsit1">상담신청 목록</a>
<a href="/ReMatchingList">상담 재매칭 목록</a>
<form th:action="@{'/moveFreeBoard'}" method="POST">
    <input type="hidden" name="user_id" th:value="${loginData.getId()}"/>
    <input type="submit" value="자유게시판"/>
</form>
</body>
</html>