<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
  <div>
    <table>
      <th>신청번호</th>
      <th>사용자번호</th>
      <th>사용자이름</th>
      <th>시간</th>
      <th>대면/비대면</th>
      <th>원하는분야</th>
      <th>무료체험</th>
      <th>최소가격</th>
      <th>최대가격</th>
      <th>전문성</th>
      <th>1순위</th>
      <th>2순위</th>
      <th>3순위</th>
      <th>특이사항</th>
      <th>매칭상태</th>
      <tr th:each="request:${list}">
        <td th:text="${request.request_id}"></td>
        <td th:text="${request.user_id}"></td>
        <td th:text="${request.user_name}"></td>
        <td th:text="${request.time}"></td>
        <td th:text="${request.onoffline}"></td>
        <td th:text="${request.category}"></td>
        <td th:text="${request.expStat}"></td>
        <td th:text="${request.minPrice}"></td>
        <td th:text="${request.maxPrice}"></td>
        <td th:text="${request.professional}"></td>
        <td th:text="${request.one}"></td>
        <td th:text="${request.two}"></td>
        <td th:text="${request.three}"></td>
        <td th:text="${request.significant}"></td>
        <td th:text="${request.matching}"></td>
        <td>
          <form name="mentorwaiting" th:action="@{'/mentorwaiting'}" method="POST">
            <input type="hidden" name="request_id" th:value="${request.request_id}"/>
            <input type="hidden" name="mentor_id" th:value="${request.matmentornum}"/>
            <input type="hidden" name="popUP" value=""/>
            <input type="submit" th:value="${request.mentor_waiting}" onclick="popUp()"/>
          </form>
        </td>
      </tr>
      <script>
        function popUp(){
          var a;
          var result = confirm("해당 요청을 수락 하시겠습니까?");
          if (result == false) {
            alert("거절하였습니다.");
            a = 0;
            return document.mentorwaiting.popUP.value = a;
          } else {
            alert("수락하셨습니다.");
            a = 1;
            return  document.mentorwaiting.popUP.value = a;
          }
        }
      </script>
    </table>
  </div>
</body>
</html>

