<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
  <div>
    <table>
      <th>아이디</th>
      <th>이름</th>
      <th>분야</th>
      <th>전문성</th>
      <th>가격</th>
      <th>시간</th>
      <tr th:each="list:${list}">
      <td>
        <form id="rematching" th:action="@{'/reMatchingMentor'}" method="POST">
          <input type="hidden" name="request_id" th:value="${id}"/>
          <input type="hidden" name="mentor_id" th:value="${list.id}" />
          <input type="button" th:value="${list.user_id}" onclick="POPUP()"/>
        </form>
      </td>
        <td id="name" th:text="${list.name}"></td>
        <td th:text="${list.category}"></td>
        <td th:text="${list.professional}"></td>
        <td th:text="${list.price}"></td>
        <td th:text="${list.time}"></td>
      </tr>
      <script>
        function POPUP(){
          var result = confirm("해당 유저를 선택 하시겠습니까?")
          if (result == false) {
            alert("다시 선택해주세요.");
          }
          else {
            alert("선택 되었습니다.");
            return document.getElementById("rematching").submit();
          }
        }
      </script>
    </table>
  </div>
</body>

</html>

